body {
  margin: 0px;
  padding: 0px;
}    

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 2em;
  background: #fff;
}

table.groups {
    margin: 10px;
    width: 90%;
    border-style: solid;
    border-width: 1px;
}

a img {
  border-style: none;
}

#title, #content, #footer {
  margin:0 auto 0;
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
  font-size: 90%;
}

.navigation-top {
  border-color:#aaa;
  border-style:solid;
  border-width: 1px 0 1px;
  background: #fff;
  padding: 10px;
}

.navigation-top .feed-item {
    display: inline;
    padding-right: 16px;
}

.navigation-top .feed-item:hover {
    padding-right: 2px;
}

.navigation-top .feed-item a {
  color: #000;
  text-decoration: none;
}
.navigation-top .feed-item a:hover {
  text-decoration: underline;
}

.newfeed .new-button {
  cursor: pointer;
}

.newfeed .new-button:hover {
  text-decoration: underline;
}

div.item {
  padding: 5px 2px 5px 2px;
  border-color:#aaa;
  border-style:solid;
  border-width: 0 0 1px;

}

.activity .title-link{
//    font-size: 1.5em;
}

div.item .item-header {
    display: inline;
}
div.item .item-header .title-link {
   font-weight: bold;
}
div.item .item-header a {
  color: #000;
  text-decoration: none;
}

div.item .item-header a:hover {
  text-decoration: underline;
}

div.item .item-body {
  background: #eef;
  margin: 6px;
  padding: 4px;
  line-height:1.2;
  font-size: 90%;
}

div.item .item-body p {
    margin: 4px 0px 4px 0px;
}
div.item .item-body pre {
  margin: 5px;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
}

div.item .item-body blockquote {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
}

div.item .header-info {
    padding-left: 4px;
    display: inline;
    font-size: 80%;
    color: #666;
}


div.item .header-info a {
  color: #666;
  text-decoration: none;
}

div.item .header-info a:hover {
  text-decoration: underline;
}

div.item .header-info img {
    vertical-align: middle;
}

div.item .header-info ul {
    margin: 0px;
    padding: 0px;
//    float: right;
}

div.item .header-info li {
    display: inline;
    margin-right: 5px;
}

.feed-item .delete-button {
  cursor: pointer;
  margin-left: 2px;
  display: none;
}


.feed-item:hover .delete-button {
  display: inline;
}

.more-button {
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
    cursor: pointer;
    background: #eee;
  border-color:#aaa;
  border-style:solid;
  border-width: 0 0 1px;
  text-align: center;
}